.content__babylion{
    width: 100%;
    height: 100%;
    background-image: url("https://scontent-gmp1-1.xx.fbcdn.net/v/t1.6435-9/180870305_2267371966729323_1355358680682476136_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=730e14&_nc_eui2=AeFQEKU2cIhRaLXVtkSG-jANVoI9-_bJt4xWgj379sm3jHQrCnIg90OnWXDlVqjacILJiM71iT3RLSSkdxB4y5LV&_nc_ohc=CN--IHyI_1YAX-38sDK&_nc_ht=scontent-gmp1-1.xx&oh=1b69d7e7c86fb3f4c1cb9333bf945d79&oe=60B390C2");
}
.content__babylion > img{
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: Growing 5s ease-in;
}
@keyframes Growing{
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0.8;
    }
    50%{
        opacity: 0.6;
    }
    75%{
        opacity: 0.2;
    }
    100%{
        opacity: 0;
    }
}
