{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
<form action = "{% url 'main:create' %}" method = "post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>제목: <input type="text" name="title"></p>
    <p>사진: <input type="file" name="image"></p>
    <p>내용: <input type="text" name="body" id="" cols="30" rows="10"></p>
    <button type="submit">제출</button>
</form>
{% else %}
<h3>로그인 후 이용 가능</h3>
<a class="nav-link" href="{% url 'account_login' %}">OOO LOGIN OOO</a>
<a class="nav-link" href="{% url 'account_signup' %}">OOO SIGNUP OOO</a>
{% endif %}

{% endblock %}